---
Checks:          'clang-diagnostic-*,clang-analyzer-*,boost-*,bugprone-*,cert-*,google-*,modernize-*,performance-*,portability-*,readability-*,-readability-redundant-member-init'
FormatStyle:     file
